//Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey: #777;
$color-dark-2: #181818;
$color-dark-3: #1f1f1f;
$color-dark: #000;
$color-white: #ffffff;
$color-grey-light-1: #f7f7f7;
$color-separator: #e6e6e6;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

//Grid
$grid-width: 114rem;
$grid-width-small: 50rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//Font

$default-font-size: 1.6rem;
