.composition {
  position: relative;
  @include respond(tab_port) {
    margin-top: 2rem;
  }
  &__photo {
    width: 60%;
    box-shadow: 0 1.5rem 4rem rgba($color-dark, 0.4);
    border-radius: 2px;
    position: absolute;
    outline: 0rem solid rgba($color-primary-dark, 0.2);
    transition: 0.3s ease;
    z-index: 2;
    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }
    @include respond(tab_land) {
      width: 40%;
      &--p1 {
        left: 10%;
        top: -2rem;
      }

      &--p2 {
        right: 15%;
        top: 2rem;
      }

      &--p3 {
        left: 20%;
        top: 10rem;
      }
    }

    @include respond(tab_port) {
      width: 45%;
      &--p1 {
        left: -2rem;
        top: -2rem;
      }
      &--p2 {
        left: 30%;
        top: -3rem;
        z-index: 3;
      }

      &--p3 {
        left: 63%;
        top: -2rem;
      }
    }

    @include respond(phone) {
      &--p1 {
        left: 0rem;
        top: -2rem;
      }
      &--p2 {
        left: 30%;
        top: -3rem;
        z-index: 3;
      }

      &--p3 {
        left: 60%;
        top: -2rem;
      }
    }

    &:hover {
      transform: scale(1.05);
      outline: 1.2rem solid $color-primary-dark;
      outline-offset: 1rem;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
    z-index: 1;
  }
}
