*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10 px 10px/16px=62.5
  // @include respond(phone) {
  //   font-size: 50%;
  // }
  @include respond(tab_land) {
    // biggest width first before the smallest
    font-size: 56.25%; // 1rem = 9px => 9/16 = 56.25
  }
  @include respond(tab_port) {
    font-size: 50%; // 1rem = 8px, 8/16 = 50
  }

  @include respond(big_desktop) {
    font-size: 75%; // 1rem = 12 => 12/16
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey;
  padding: 3rem;
  scroll-behavior: smooth;
  box-sizing: border-box;

  @include respond(tab_land) {
    padding: 0;
  }
}
