.u-center-text {
  text-align: center;
}
.u-margin-bottom-8 {
  margin-bottom: 8rem;
  @include respond(tab_port) {
    margin-bottom: 5rem;
  }
}

.u-transX-2 {
  @include respond(tab_land) {
    transform: translateX(2rem);
  }
}

.u-margin-bottom-1 {
  margin-bottom: 1rem;
}

.u-margin-top-2 {
  margin-top: 2rem;
}
